
<div class="well">
    <h4>Evcil Hayvan Türü</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="/PetAnnouncements/Index">Tümünü Listele</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="/PetAnnouncements/Index/Kedi">Kedi</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="/PetAnnouncements/Index/Köpek">Köpek</a>
                </li>
            </ul>
        </div><div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="/PetAnnouncements/Index/Kuş">Kuş</a>
                </li>
            </ul>
        </div><div class="col-lg-6">
            <ul class="list-unstyled">
                <li>
                    <a href="/PetAnnouncements/Index/Balık">Kedi</a>
                </li>
            </ul>
        </div>
    </div><div class="col-lg-6">
        <ul class="list-unstyled">
            <li>
                <a href="/PetAnnouncements/Index/Diğer">Diğer</a>
            </li>
        </ul>
    </div>

</div>