@using Animals.Models;
@model IEnumerable<Animals.Models.PetAnnouncement>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Session["UserID"] != null)
    {
        <div container>
            <h2>
                @Html.ActionLink("İlan Ver ", "Create")
            </h2>
        </div>
    }
    <p>
    </p>
    <div class="row container">
        @foreach (var i in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card pt-3 " style="width: 20rem;">
                    <div class="container" style="height: 15rem;">
                        <img src="/Image/@i.Photo" class="card-img-top" style="height:100%;" alt="@i.Title">
                    </div>
                    <div class="card-body" style="height: 12rem; position:relative;">
                        <h5 class="card-title">
                            @(i.Title.Length > 30 ? i.Title.Substring(0, 27) + "..." : i.Title)
                        </h5>
                        <p class="card-text ">@(i.Explanation.Length > 50 ? i.Explanation.Substring(0, 47) + "..." : i.Explanation)</p>
                        <a href="/PetAnnouncements/Details/@i.AnnouncementID" class="btn btn-primary" >Görüntüle</a>
                    </div>
                </div>
            </div>
        }

    </div>
  
</body>
</html>
