@model IEnumerable<Animals.Models.PetAnnouncement>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Session["UserID"] != null)
    {
        <div container>
            <h2>
                @Html.ActionLink("İlan Ver ", "Create")
            </h2>
        </div>
    }
    <p>
    </p>
    @foreach (var i in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="/Image/@i.Photo" class="card-img-top" alt="@i.Title">
            <div class="card-body">
                <h5 class="card-title">
                    @i.Title
                </h5>
                <p class="card-text">@i.Explanation</p>
                <a href="/PetAnnouncements/Details/@i.AnnouncementID" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }

</body>
</html>
