@model Animals.Models.Users
@{
    ViewBag.Title = "View";
}

<hr />
<table class="table table-dark">
<thead>
    <tr>
        <th scope="col">Ad</th>
        <th scope="col">Soyad</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row"></th>
        <td>@Model.Name</td>
        <td>@Model.LastName</td>
    </tr>

</tbody>
</table>

